.content {
  padding: 20px 16px;
  font-weight: 600;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 794px;
  margin: auto;

    @media (width >= 376px) {
    padding: 32px 24px; 
  }

    @media (width >= 768px) {
    padding: 42px 20px 42px 35px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  padding-bottom: 9px;

  &__title {
    font-size: 19px;
    font-weight: 700;
  }

  &__description {
    @include text-small(0.6px);

    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
    justify-content: center;

    &-item {
      color: $color-primary;
      border-right: 1.5px solid $color-primary;
      padding-right: 4px;
      line-height: 100%;

    &:last-child {
      border-right: none;
    }
  }
  }
}