.modal {
  background-color: #fff;
  width: 500px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 16px;

   &-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
  }

  &-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
}