.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  &__title {
    font-size: 22px;
    font-weight: 700;
  }

  &__contacts {
    font-size: 14px;
    color: $color-primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

   &__contact__divider {
    margin: 0 4px;
    color: $color-primary;
  }
  
}