.comments {

  &__list {
    display: grid;
    gap: 8px;
    list-style-type: none;
  }

  &__empty {
    margin: auto;
    display: grid;
    gap: 6px;
    place-items: center;

    &-title {
      font-weight: 600;
      font-size: 18px;
    }
  }

  &__item {
    padding: 4px;

     &-icon {
      @include flex-container-center;

      height: 28px;
      width: 28px;
      padding: 16px;
      border-radius: 99%;
      background-color: $color-primary;
      opacity: 0.4;
    }
  }
}

