@use './variables' as *;

@mixin text-small($letter-spacing: 0.4px) {
  font-size: 10px;
  color: $color-primary;
  letter-spacing: $letter-spacing;
}

@mixin flex-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}